---
import Header from "../components/Header.astro";
import {
  CARD_DESCRIPTION,
  CARD_IMAGE,
  CARD_TITLE,
  SITE_DATA,
  CARD_SLUG,
} from "../consts";
import Layout from "../layouts/Layout.astro";
import { generateSlug } from "../utils";

export async function getStaticPaths() {
  const response = await fetch(SITE_DATA || "");
  const data = await response.json();

  return data.map((record) => {
    const slug = record?.cardSlug
      ? generateSlug(record.cardSlug)
      : record.rcd___id;
    return {
      params: {
        slug,
      },
      props: {
        record,
      },
    };
  });
}

const { record } = Astro.props;

const fields = {
  title: CARD_TITLE || "",
  description: CARD_DESCRIPTION || "",
  image: CARD_IMAGE,
  slug: CARD_SLUG,
};
---

<Layout>
  <Header />
  <div class="max-w-screen-md mx-auto my-12 space-y-3 md:w-10/12">
    <h1 class="font-bold text-xl text-center">{record[fields.title]}</h1>
    {
      fields.image && (
        <img
          class="mx-auto max-w-xs"
          src={record[fields.image]}
          title={record[fields.title]}
        />
      )
    }
    <p class="text-lg">{record[fields.description]}</p>
    <!-- {record.tags && (
      <div>
        <h3 class="font-semibold">Tags</h3>
        <div class="flex gap-2">
          {
            record.tags
              .split(",")
              .map((t) => (
                <div class="bg-blue-100 rounded-md p-1 text-sm capitalize">{t}</div>
              ))
          }
        </div>
      </div>
    )} -->
    {
      record.family && (
        <div>
          <h3 class="font-semibold">Family</h3>
          <div class="flex gap-2">
            {record.family.split(",").map((t) => (
              <div class="bg-gray-200 rounded-md p-1 text-sm capitalize">
                {t}
              </div>
            ))}
          </div>
        </div>
      )
    }
  </div>
</Layout>
